html {
	cursor: default;
}

body {
	background-image: url(pics/mr.jpg);
}

img:hover {
	opacity: 0.9;
} 

img {
	margin-left: 15px;
	margin-right: 15px;
}

img: hover {
	display: inline-block;
	position: relative;
} 

div {
	display: inline-block;
	width: 420px;
} 

p {
	margin-left: 60px;
	font-family: math;
	font-size: 19px;
	color: #d1d1d1;
	text-shadow: 1px 1px 1px #000000;
	font-weight: 430px;
}

#p {
	opacity: 0.8;
}

#p:hover {
	opacity: 0.7;
} 

#p2 {
	opacity: 0.8;
}

#p2:hover {
	opacity: 0.7;
} 

#p3 {
	opacity: 0.8;
}

#p3:hover {
	opacity: 0.7;
} 

#p4 {
	opacity: 0.8;
}

#p4:hover {
	opacity: 0.7;
} 

#p5 {
	opacity: 0.8;
}

#p5:hover {
	opacity: 0.7;
} 

#p6 {
	opacity: 0.8;
}

#p6:hover {
	opacity: 0.7;
}   