html {
	cursor: default;
}

body {
	background-image: url(pics/sptb.jpg);
}

#ref {
	color: #8b0606;
	font-size: 30px;
	font-weight: 450px;
} 
 
#a1 {
	font-family: math;
	font-size: 90px;
	color: #110707;
	background-color: #e1e1e1;
	border: 7px solid #201a1a;
	border-radius: 60px;
	text-align: center;
	text-shadow: 1px 1px 1px #190000;
}

#a2 {
	margin-top: 54px;
	font-family: math;
	font-size: 21px;
	color: #eee7e7;
	box-shadow: 3px 3px 7px #000000;
	text-align: center;
	text-shadow: 1px 1px 1px #000000;
	font-weight: 420px;
}

#a3 {
	font-family: math;
	font-size: 27px;
	color: #eee7e7;
	text-shadow: 1px 1px 1px #000000;
	font-weight: 420px;
	margin-left: 95px;
	margin-top: 60px;
}

a {
	color: #eee7e7;
	text-decoration: none;
	cursor: default;
}

.li:hover {
	border: 2px solid #2c0606;
	border-radius: 50px;
	opacity: 0.85; 
}

#a4 {
	width: 230px
}

#a5 {
	width: 180px
}

#a6 {
	width: 550px
}

#a7 {
	width: 340px
}

#a8 {
	width: 390px
}

#a9 {
	width: 410px
}

#a10 {
	width: 320px
}

#a11 {
	font-family: math;
	font-size: 24px;
	color: #eee7e7;
	text-shadow: 1px 1px 1px #000000;
	font-weight: 420px;
	text-align: center;
	margin-top: 100px;
	box-shadow: 3px 3px 7px #000000;
}

div {
	text-transform: uppercase;
}

#a12 {
	margin-top: 17px;
	font-family: math;
	font-size: 21px;
	color: #eee7e7;
	text-align: center; 
	text-shadow: 1px 1px 1px #000000;
	font-weight: 420px; 
} 

#a13 {
	color: #8b0606;
	font-size: 30px;
	font-weight: 450px;
}
	